{% extends "base.html" %}

{% block nav %}
    <a href="{{ url_for("site.index") }}" class="navbar-item is-active">
        Cadastro
    </a>
    <a href="{{ url_for("site.about") }}" class="navbar-item">
        About
    </a>
{% endblock %}

{% block main %}
    <table class="table is-hoverable is-fullwidth">

            <thead>
                <tr>
                    <th><abbr title="id">Id</abbr></th>
                    <th><abbr title="conta_app">Conta/App</abbr></th>
                    <th><abbr title="email_user">Email/User</abbr></th>
                    <th><abbr title="passwd">Senha</abbr></th>
                    <th><abbr title="data">Registro</abbr></th>
                    <th><abbr title="action">Actions</abbr></th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.conta_app }}</td>
                    <td>{{ item.user_email }}</td>
                    <td>{{ item.passwd }}</td>
                    <td>{{ item.data_raw }}</td>
                    <td><a href="#">copy</a> / <a href="#">del</a></td>
                </tr>
            </tbody>
            {% endfor %}
    </table>
{% endblock %}